#wrapper
{
	width:1050px;
	margin: 0 auto;
	resize:horizontal;
	border-style: solid;
}
#header
{
	background-color: #FFFF00;
	width: 1050px;
	height: 50px;
	text-align:center;
	line-height:40px;
	font-size:40px;
	resize:horizontal;
}
#sidebar
{
	background-color: #FF0000;
	float:left;
	height:400px;
	width:100px;
	margin-right:15px;
	margin-top:70px;
	text-align:center;
	line-height:80px;
	font-size:20px;
	border-style:double;
}
#content
{
	border-style:dotted;
	background-color: #999999;
	float:left;
	height:550px;
	width:885px;
	margin-top:30px;
}
.blogpost
{
	text-align:center;
	background-color:#33FFFF;
	margin-left:30px;
	margin-top: 20px;
	width:750px;
	height:110px;
	border-style:dashed;
}
ul
{
	margin:0;
	padding:0;
}
li
{
	display:block;
	margin-top:10px;
	border-style:groove;
}
p{
	text-align:left;
	margin-top: 0px;
}
h1
{
	font-size:20px;
	text-align:left;
}
